<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
