<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Fill in Your Profile</h1>

      <%= render 'form' %>

<!-- Forme for comprend qu'il faut aller dans le controller, taper dans la méthode #new puis cettte méthode new va le rediriger vers la view #show
 -->
    </div>
  </div>
</div>
