  <div class="login_form">
      <h1>Fill in Your Profile</h1>

      <%= render 'form' %>

<!-- Forme for comprend qu'il faut aller dans le controller, taper dans la méthode #new puis cettte méthode new va le rediriger vers la view #show
 -->

</div>
