<style >
html {
  font-family: sans-serif;
  text-decoration: none !important;
  color: black;
}



</style>


<p>Welcome to elvenue!</p>
<br>
<p>Create <a href="http://www.elvenue.net/profiles/new", style="text-decoration: none; color: black;"> here </a> a profile to  book artsy locations for your events now or start offering your venues. </p>

<p>Hope to see you soon on our website!</p>
<%= link_to "Get back to the website", root_url %>

<!-- #http://localhost:3000/rails/mailers/user_mailer/welcome -->
