<div class="text-center">
  <h1>Book this place</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <p>You have send a Booking request</p>

    </div>
  </div>
</div>
