<div class="footer-home-page">
  <div class="footer-links">
    <a href="#">About us</a>
    <a href="#">FAQ</a>

    <!-- <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright"; style="margin-top: 35px">
    This App is made with <i class="fa fa-heart"></i> at <a style="color: rgba(0,0,0,0.3);text-decoration:underline" href="https://www.lewagon.com/">Le Wagon</a>
  </div>
</div>
