<style >
html {
  font-family: sans-serif;
  text-decoration: none !important;
  color: black;
}



</style>


<p>Hi, <%= @profile.first_name %>, </p>
<p> <a href="http://www.elvenue.net/", style="text-decoration: none; color: black;"> book artsy locations </a> for your events now or start offering your venues. </p>

<%= link_to "Get back to the website", root_url %>

<!-- #http://localhost:3000/rails/mailers/user_mailer/welcome -->
