    <table>
      <tr>
        <div><th style="width: 65%, border-collapse: collapse;">Capacity</th></div>
        <div><th style="width: 65%">Price</th></div>
        <div><th style="width: 35%">Category</th></div>
        <div><th style="width: 35%">City</th></div>
      </tr>
    </table>






