<h1>welcome to the edit page</h1>

<%= render 'form' %>

<%= link_to 'Go Back', venues_path, class: "btn-red" %>

<% @venues.each do |venue| %>
  <% if policy(venue).update? %>
    <%= link_to "Update", edit_venue_path(venue) %>
  <% end %>
<% end %>
