<div class="login_form">

<h1>List your new Venue</h1>

<%= render 'form' %>

<%= link_to 'Go Back', venues_path, class: "btn-normal" %>

<% if policy(Venue).create? %>
  <% new_venue_path %>
<% end %>

</div>

