
<h1>Welcome to the <%= @venue.name %></h1>
<p>we should display here the selected venue and the details</p>


<% unless @venue.photo.nil? %>
<%= cl_image_tag @venue.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<br>
<br>
<%= link_to "Book it!", new_venue_booking_path(@venue), class: "btn-profile"%>
