.alert {
  position: fixed;
  top: 57px;
  margin: 0;
  text-align: center;
  color: white;
  left: 0px;
  z-index: 1000;
  width: 100%;
}
.alert-warning {
  background: #D5100D;
}
.notice {
  position: fixed;
  top: 57px;
  left: 0px;
  text-align: center;
  color: white;
  z-index: 1000;
  width: 100%;
}
.alert-info {
  background: $green;
}




