.container {
  text-align: center;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.padded {
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-container {
  width: 1100px;
  top: 57px;
  position: relative;
  margin: auto;
}

.message-container {
  font-family: 'Helvetica Neue', thin;
  font-weight: 300;
  color:  #7d7d7d;
  display: block;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 20px;
  padding-bottom: 20px;

}

