.login-form {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "HelveticaNeue-Light";
}


.login-form input {
  border-radius: 50px;
  background: transparent;
  height: 45px;
}

.fb_link {
  color:white;
  text-decoration: none !important;
}

.fb_link:hover {
  color:inherit;
}

.link_log_in {
  color: #DE1A1A;
  text-decoration: none !important;
}

.link_log_in:hover {
  color: grey;
  text-decoration: none !important;
}

.control-label {
  font-family: "HelveticaNeue-Light" ;
  font-style: normal;
  text-decoration: none !important;
  color: grey;
  font-size: 18px;
}
.checkbox_list{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-left: -20%;
  div {

    width: 40px;
  }
  .label_venue{
    // min-width: 100px;
    padding: 0;
  }
}

.venue-form {


  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
      margin-left: 0px;
  }
}
