.container-message {
  align-items: center;
  position: relative;
  margin: 100px;
}


.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
  margin-left: 10px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
  color: black;
}

.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  color: black;
}
.message-body {
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  padding-left: 350px;
  color: rgba(0,0,0,0.4);
  position: absolute;
  margin-top: -85px;
  max-width: 850px;

}

.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 5px 0;
}
.message-status {
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  padding-left: 900px;
  color: rgba(0,0,0,0.4);
  position: absolute;
  margin-top: -75px;
}

.message-venue {
  padding-left: 1100px;
  color: rgba(0,0,0,0.4);
  position: absolute;
  margin-top: -75px;
}



.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.message:hover a {
  color: #FFFFFF;
  text-decoration: none !important;
  }
