.venue-form {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "HelveticaNeue-Light";
  margin-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;

}


.venue-form input {
  border-radius: 50px;
  background: transparent;
  height: 45px;
}


.link_log_in {
  color: #DE1A1A;
  text-decoration: none !important;
}

.link_log_in:hover {
  color: grey;
  text-decoration: none !important;
}

.control-label {
  font-family: "HelveticaNeue-Light" ;
  font-style: normal;
  text-decoration: none !important;
  color: grey;
  font-size: 18px;
}
