.venue-form {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "HelveticaNeue-Light";
  margin-bottom: 50px;
}

.venue-form input {
  border-radius: 50px;
  background: transparent;
  height: 45px;
}

.venue-form textarea {
  border-radius: 20px;
  background: transparent;
  height: 90px;
}

.venue-form button {
  backgrond: red;
}


.link_log_in {
  color: #DE1A1A;
  text-decoration: none !important;
}

.link_log_in:hover {
  color: grey;
  text-decoration: none !important;
}

.control-label {
  font-family: "HelveticaNeue-Light" ;
  font-style: normal;
  text-decoration: none !important;
  color: grey;
  font-size: 18px;
}

.check_boxes {
  height: auto!important;
}
