
.venue-form-container {
  text-align: center;
  width: 800px;
  margin: auto;
  background-color: darken(#eee, 1%);
}
.venue-form {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "HelveticaNeue-Light";
  margin-bottom: 50px;
}

.venue-form input {
  border-radius: 50px;
  background: transparent;
  height: 45px;
}

.venue-form textarea {
  border-radius: 20px;
  background: transparent;
  height: 90px;
}

.venue-form button {
  background: red;
}

.link_log_in {
  color: #DE1A1A;
  text-decoration: none !important;
}

.link_log_in:hover {
  color: grey;
  text-decoration: none !important;
}

.control-label {
  font-family: "HelveticaNeue-Light" ;
  font-style: normal;
  text-decoration: none !important;
  color: grey;
  font-size: 18px;
}

.check_boxes {
  height: auto !important;
}

.venue-form-text-input {
  font-size:17px;
  @extend .venue-form;
  padding-left: 80px;
  padding-right: 80px;
}
.venue-form-check-boxes {
  @extend .venue-form;
  text-align: left;
  padding: 0 80px;
  .radio label, .checkbox label {
      font-family: "HelveticaNeue-Thin";
      font-size: 15px;
      min-height: 20px;
      padding-left: 0px;
      font-weight: lighter;
      cursor: pointer;
  }
}

.venues-photo-upload {
  .upload_button_holder input[type=submit] {
    background-color: red;
  }
}




