.card_2 {
  height: 350px;
  width: 450px;
  color: white;
  position: relative;
  background-color: white;
  margin: 15px;
  border: 1px solid #E0E0E0;
  background-position: relative;
  background-size: 330px 250px;
  background-repeat: no-repeat;
}

.card-description {
  color: black;
  position: absolute;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 15px;
  text-align: left;
}

.card-city {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
.card-price {
  color: gray;
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin-bottom: 5px;
}
.card-name h1 {
  color: white;
  opacity: 0.9;
  font-size: 24px;
  margin-top: 210px;
  position: absolute;
  margin-left: 10px;
}
.card-description-2 p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
  margin-bottom: 10px;

}
.card-link-2 {
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  position: absolute;
  height: 250px;
  z-index: 2;
  background: black;
  opacity: 0;
}

.btn-description {
  margin-bottom: 10px;
  position: relative;
  top: -16px;
}

