// UTILITIES to be used in different places




.center-text {
  text-align: center;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
